<div class="container">
  <div class="header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <br>
  <p><strong>Did I miss my invitation? Should I have RSVP’d already?</strong></p>
  <p>You have nothing to worry about! We will be sending out the formal invitations with RSVP information the second half of June.</p>
  <p>In the meantime, if you think you’re coming, please make your travel plans ASAP given this is over a holiday weekend!</p>
  <br>
  <p><strong>Where are we staying?</strong></p>
  <p>
The new host hotel is the Holiday Inn in Gurnee, Illinois, and we have secured a group rate for $124/ night for Thursday-Monday. The group rate applies to rooms with a king bed, and rooms with 2 double beds. All rooms booked through our guest code have a 72 hour cancellation rate, and include breakfast.
Here’s where you can really help us. We can only hold up to 25 rooms at a time, so please book early since the wedding falls on a holiday weekend! If you’re not sure of your travel plans, you can still secure your room and then cancel nights within 72 hours of check in.
Reservations can be made by calling 1-800-465-4329, and providing our group code, “MWB” (stands for “MacDonald/ Manion Wedding Block”).
  </p>
  <br>
  <p><strong>What airport should I fly in to?</strong></p>
  <p>We are about 45 minutes from Chicago’s O’Hare International Airport (ORD), and 50 minutes from Milwaukee’s General Mitchell International Airport (MKE).</p>
  <br>
  <p><strong>What should I do for transportation?</strong></p>
  <p>You can Uber (~$50-$60) or take a cab (~$70+tip) from the airport to the hotel. We’ll provide a shuttle from the hotel to the farm for the day of the wedding. There is also a shuttle from the hotel to the nearby outlet malls, and to Six Flags Great America. There is some parking at the farm, but due to the large number of loved ones celebrating with us (and dark country roads), we’re requesting our guests staying at the Holiday Inn use the shuttle.  The hotel has complimentary parking for its guests if you’d like to rent a car.</p>
  <br>
  <p><strong>What else is going on during the weekend?</strong></p>
  <ul>
    <li>Friday September 1st: Rehearsal dinner for the our parents, our grandparents, and the bridal party</li>
    <li>Saturday September 2nd: We are finalizing exact timing, but festivities will begin no earlier than 4p. Refer to our website for things to do in the area.</li>
    <li>Sunday September 3rd: BBQ/pool party at the MacDonald’s house in Lake Forest for anyone still in town.</li>
    <li>Monday September 4th (Labor Day): We’re organizing informal gatherings on Monday for parties interested in going to Chicago, or Six Flags Great America amusement park (5 minutes from the hotel).</li>
  </ul>
</div>
