.font-size {
    font-size: 50px;
}

.description {
    font-size: 19px;
}

.pad {
    padding: 15px;
}

.alert-text {
    color: #C00000;
}

.highlight {
    color: #C00000;
    font-weight: bold;
}

.ital {
    font-style: italic;
}