<div class="container">
  <div class="header">
    <h1>Venue &amp; Lodging</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="block text-center">Ceremony &amp; Reception</h3>
        <h2 class="script font-size text-center">MaryBud Farm</h2>

        <p class="card-text text-center block description">
          <strong>Antioch, IL</strong>
        </p>

        <img class="img-fluid" src="{{marybud}}">

        <p class="card-text description pad">
          MaryBud Farms was established in 2015 by Morgan’s parents, Mark and Maril MacDonald, to preserve a legacy of a place for
          family and friends to gather, named in memory of Morgan’s grandparents, "Bud" and Mary Gagen.

          <br><br> The property is about creating a community around what’s possible, and where we’re going, rooted in the
          core values of key people in our lives. This made "the farm" a natural destination for us to start our lives together,
          surrounded by the community that has played an integral part of who we are.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="block text-center">Host Hotel</h3>
        <h2 class="script font-size text-center">KeyLime Cove</h2>

        <p class="card-text text-center block description">
          <strong>Gurnee, IL</strong>
        </p>

        <img class="img-fluid" src="{{keylime}}">

        <p class="card-text description pad">
          Key Lime Cove is a waterpark resort, located 10 minutes away from MaryBud Farms. Everyone who knows us knows how much we
          love to have fun and laugh! We can’t wait to join everyone in the indoor waterpark, arcade, and other attractions
          at the hotel!
          <br><br>

          <a href="http://www.keylimecove.com/">http://www.keylimecove.com/</a>

          <br><br> Make your reservations early given the holiday weekend! We have a negotiated rate for the Two Queen Deluxe
          for <b>$159.95</b> per night (usually <b>$203.28</b> per night). The room contains two queen beds and a sleeper
          sofa.

          <br><br> Please call <b>877-360-0403</b> to reserve your room. Make sure to mention you want the group rate for
          the MacDonald-Manion Wedding.

          <br><br> For your planning purposes, we’re planning to be at the hotel all day Sunday to spend more time with all
          of you!
        </p>
      </div>
    </div>
  </div>
  <!-- <sebm-google-map [latitude]="42.4784646" [longitude]="-87.9676458" [zoom]="10" [disableDefaultUI]="false" [zoomControl]="true">
    <sebm-google-map-marker [latitude]="42.4784646" [longitude]="-87.9676458" [label]="'MaryBud'"></sebm-google-map-marker>
    <sebm-google-map-marker [latitude]="42.3835689" [longitude]="-87.9452401" [label]="'KeyLime'"></sebm-google-map-marker>
  </sebm-google-map> !-->
</div>