<div class="container">
  <div class="header">
    <h1>Venue &amp; Lodging</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="block text-center">Ceremony &amp; Reception</h3>
        <h2 class="script font-size text-center">MaryBud Farm</h2>

        <p class="card-text text-center block description">
          <strong>Antioch, IL</strong>
        </p>

        <img class="img-fluid" src="{{marybud}}">

        <p class="card-text description pad">
          MaryBud Farms was established in 2015 by Morgan’s parents, Mark and Maril MacDonald, to preserve the legacy of a place for
          family and friends to gather. It's named in memory of Morgan’s grandparents, "Bud" and Mary Gagen.

          <br><br> The property is about creating a community around what’s possible and where we’re going, rooted in the
          core values of key people in our lives. This makes "the farm" a natural destination for us to start our lives together,
          surrounded by the community that has played an integral part of who we are.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="block text-center">Host Hotel</h3>
        <h2 class="script font-size text-center">Holiday Inn Gurnee Convention Center</h2>

        <p class="card-text text-center block description">
          <strong>Gurnee, IL</strong>
        </p>

        <img class="img-fluid" src="{{holidayInn}}">

        <!-- <p class="card-text description pad"> -->
          <!-- We are working on securing a block of rooms for our guests and plan on sending out an email once it is available. -->
        <p class="card-text description pad">
          We have secured a block of rooms for our guests at a discounted rate with group code <strong>MWB</strong> for the King-size or double room at $124/night. Please click
          <a href="https://www.ihg.com/holidayinn/hotels/us/en/reservation/book?qGrpCd=COMING&qGRM=0&qBrs=hi.ex.rs.ic.cp.in.sb.cw.cv.6c.vn.ul.ki.sp.nd.ct&qRpn=1&srb_u=1&qCoMy=082017&qCoD=03&qRms=1&qRef=df&qCiD=01&qCiMy=082017&qSHp=1&qWch=0&qRtP=6CBARC&qSlH=chiwg&qAdlt=1&qHtlC=chiwg&qSrt=sBR&qSmP=3&qPSt=0&qRpp=20&qChld=0&qRRSrt=rt&method=roomRate#roomratestitle">here</a> to view the room options and call to reserve at:<br> (847) 336-6300.<br>
          <br> The hotel is located at the following address:
          <br> <a href="https://www.google.com/maps/place/6161+W+Grand+Ave,+Gurnee,+IL+60031/@42.3800044,-87.9670754,14.05z/data=!4m5!3m4!1s0x880f8e22fa47106f:0x49b7e681f061125e!8m2!3d42.3830247!4d-87.954406">6161 W Grand Ave, Gurnee, IL 60031</a>
          <br><br> The group rate is available until August 7th, but since it is a holiday weekend, the rooms will fill up fast. Please book as soon as you can!
        </p>
      </div>
    </div>
  </div>
  <!-- <sebm-google-map [latitude]="42.4784646" [longitude]="-87.9676458" [zoom]="10" [disableDefaultUI]="false" [zoomControl]="true">
    <sebm-google-map-marker [latitude]="42.4784646" [longitude]="-87.9676458" [label]="'MaryBud'"></sebm-google-map-marker>
    <sebm-google-map-marker [latitude]="42.3835689" [longitude]="-87.9452401" [label]="'KeyLime'"></sebm-google-map-marker>
  </sebm-google-map> !-->
</div>