<div class="container">
  <div class="header">
    <h1>Hotel &amp; Transportation</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="script text-center">Host Hotel</h3>
        <div class="splitter"></div>
        <h2 class="block font-size text-center">Holiday Inn Gurnee Convention Center</h2>

        <p class="card-text text-center block description">
          <strong>Gurnee, IL</strong>
        </p>

        <img class="img-fluid" src="{{holidayInn}}">

        <!-- <p class="card-text description pad"> -->
        <!-- We are working on securing a block of rooms for our guests and plan on sending out an email once it is available. -->
        <p class="card-text description pad">
          We have secured a block of rooms for our guests at a discounted rate with group code <strong>MWB</strong> for the
          King-size or double room. Please click
          <a href="https://www.ihg.com/holidayinn/hotels/us/en/reservation/book?qGrpCd=COMING&qGRM=0&qBrs=hi.ex.rs.ic.cp.in.sb.cw.cv.6c.vn.ul.ki.sp.nd.ct&qRpn=1&srb_u=1&qCoMy=082017&qCoD=03&qRms=1&qRef=df&qCiD=01&qCiMy=082017&qSHp=1&qWch=0&qRtP=6CBARC&qSlH=chiwg&qAdlt=1&qHtlC=chiwg&qSrt=sBR&qSmP=3&qPSt=0&qRpp=20&qChld=0&qRRSrt=rt&method=roomRate#roomratestitle">here</a>          to view the room options and call to reserve at:<br> 1-800-465-4329.<br>
          <br> The hotel is located at the following address:
          <br> <a href="https://www.google.com/maps/place/6161+W+Grand+Ave,+Gurnee,+IL+60031/@42.3800044,-87.9670754,14.05z/data=!4m5!3m4!1s0x880f8e22fa47106f:0x49b7e681f061125e!8m2!3d42.3830247!4d-87.954406">6161 W Grand Ave, Gurnee, IL 60031</a>
          <br><br> The group rate is available until August 7th, but since it is a holiday weekend, the rooms will fill up
          fast. Please book as soon as you can! If rooms are sold out in the block, please email us at tom.morgan.manion@gmail.com, or call Morgan or Tom as we have some additional rooms on hold.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card sub-title">
        <h3 class="script text-center">Transportation</h3>
        <div class="splitter"></div>
        <p>Coming Soon, to a browser near you!</p>
      </div>
    </div>
  </div>
  <!-- <sebm-google-map [latitude]="42.4784646" [longitude]="-87.9676458" [zoom]="10" [disableDefaultUI]="false" [zoomControl]="true">
    <sebm-google-map-marker [latitude]="42.4784646" [longitude]="-87.9676458" [label]="'MaryBud'"></sebm-google-map-marker>
    <sebm-google-map-marker [latitude]="42.3835689" [longitude]="-87.9452401" [label]="'KeyLime'"></sebm-google-map-marker>
  </sebm-google-map> !-->
</div>