@import "./theme-variables";

.head-title {
    background-color: maroon;
    text-align: center;
}

.sub-title {
    background-color: #bca897;
}

.header {
    width: 100%;
    height: 100%;
    font-family: 'Rochester', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: left;
    font-size: 0.5em !important;
    color: lighten(black, 15%);
}

.full {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: $blue;
    text-align: center;
    font-size: 1.5em !important;
    span {
        color: $yellow;
    }
}