@import '~bootstrap/scss/_variables.scss';

// Sizes
$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$blue: #2d3b4b;
$maroon: rgb(171, 18, 55);//#7a0019;
$rust: #663b17;
$yellow: rgb(219, 167, 53);//#a08b59;
$paper-bag: #9D8150;
$text-color: lighten($yellow, 30%);
$navbar-bg: darken(white, 10%);

$font-family: Calibri, "Courier New", Courier, monospace;