@import '~bootstrap/scss/_variables.scss';

// Sizes
$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;


$enable-flex: true;
$font-family: Calibri, "Courier New", Courier, monospace;