@import "~bootstrap/scss/bootstrap.scss";
@import "header.scss";

body {
    margin: 0px;
    padding: 0px;
    background-image: url('./leather.png');
    background-repeat: repeat;
    color: white;
}

.card {
    color: black;
    padding: 5px;
}

.text-center {
    text-align: center;
}

.sebm-google-map-container {
    width: 100%;
    height: 300px;
}