<div class="container">
  <div class="header">
    <h1>Our Story</h1>
  </div>

  <div class="media">
    <div class="media-left">
      <img class="media-object story-img" src="{{umn}}" alt="University of Minnesota">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
      in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
      in faucibus.
    </div>
  </div>

  <br>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
      in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
      in faucibus.
    </div>
    <div class="media-right">
      <img class="media-object story-img" src="{{library}}" alt="Library Bar - Minneapolis">
    </div>
  </div>

</div>