<div id="our-story">
  <div class="container">
    <ul class="timeline">
      <li *ngFor="let pagePiece of pagePieces; let i = index" [ngClass]="{'timeline-inverted': pagePiece.isFlip}">
        <div *ngIf="pagePiece.isDatePagePiece" class="tldate">{{pagePiece.date | date:"MMM yyyy"}}</div>
        <div class="tl-circ" *ngIf="!pagePiece.isDatePagePiece"></div>
        <div class="timeline-panel" *ngIf="!pagePiece.isDatePagePiece">
          <div class="tl-heading">
            <h4>{{pagePiece.title}}</h4>
            <p><small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> {{pagePiece.date | date:"MMMM d, yyyy"}}</small></p>
          </div>
          <div class="tl-body" [innerHTML]="pagePiece.html">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
