@import "./theme/theme-variables";
@import "./nav/nav-resize";

.al-content {
  padding: 60px 32px 8px 40px;
}

@media screen and (max-width: $resXS) {
  .al-content {
    padding: 8px 20px;
  }
}

@media (min-width: $resXS + 1) {
  .page-top {
    display: none;
  }
  .al-sidebar {
    top: 0 !important;
  }
  .al-main {
    padding-top: 0 !important;
  }
}
