@import "./theme/theme-variables";
@import "./nav/nav-resize";

.al-content {
  padding: 60px 32px 8px 40px;
}

@media screen and (max-width: $resXS) {
  .al-content {
    padding: 8px 20px;
  }
}

@media (min-width: $resXS + 1) {
  .page-top {
    display: none;
  }
  .al-sidebar {
    top: 0 !important;
  }
  .al-main {
    padding-top: 0 !important;
  }
}

// Banner Stuff
.wedding-banner-container {
    width: 100%;
    background-color: white;
}

.wedding-banner {
    margin: 0 auto;
    display: block;
    z-index: 11;
    position: relative;
    max-height: 161px;
}
@media (min-width: $resXS + 1) {
  .top {
    width: 100%;
    height: 42px;
    background-color: $yellow;
  }
  .the-morgan-line {
    position: absolute;
    top: 100px;
    width: 100%;
    color: $maroon;
    z-index: 1;
    height: 10px;
    border-top: 20px dotted;
  }
}

@media (max-width: $resXS) {
  .top {
    padding: 0;
  }
  .the-morgan-line {
    display: none;
  }
}



