<div class="container">
  <div class="header">
    <h1>Weekend Activites</h1>
  </div>

  <h2>FRIDAY SEPTEMBER 1st, 2017</h2>
  <p>Immediate family and bridal party practice for the big day!</p>

  <h2>SATURDAY SEPTEMBER 2nd, 2017</h2>
  <p>Together, we laugh, cry, dine and dance to celebrate the happy couple!</p>

  <h2>SUNDAY SEPTEMBER 3rd, 2017</h2>
  <p>We all may join the newly weds at Mark and Maril’s house in Lake Forest. Please RSVP by 8/12 on the RSVP page.</p>
  <p>Later on, those who are still awake, enjoy lingering wedding décor at the farm with Morgan and Tom.</p>

  <h2>MONDAY SEPTEMBER 4th, 2017</h2>
  <p>Many activities are available in the area, if you are still planning to be in town. Please view the list below for some
    ideas:</p>
  <ul>
    <li><a href="http://www.renfair.com/bristol/">Bristol Renaissance Faire</a></li>
    <li><a href="https://www.sixflags.com/greatamerica">Six Flags Great America</a></li>
    <li>Gurnee Mills</li>
    <li>Outlet Malls</li>
    <li>Visit downtown Chicago</li>
    <li>Visit downtown Milwaukee</li>
    <li>Walk around nearby forest preserves</li>
  </ul>

  <p>Suggested Restaurants</p>
  <ul>
    <li>The Shanty</li>
    <li>Salutos Pizza &amp; Pasta</li>
    <li>Rainforest Café</li>
    <li>Chipotle</li>
    <li>Giordanos</li>
  </ul>
  <p>Note: The Holiday Inn shuttle is willing to take it's guests to many of the nearby locations.</p>

</div>