<div class="container f">
    <a href="{{std}}"><img class="std-img center-img img-fluid" src="{{std}}"></a>
    <div class="header">
        <h1>We're getting married!</h1>
    </div>
    <div class="container">
        <p>We're hoping you can join us!</p>
        <p>
            <!-- Given the holiday weekend, make your hotel reservations early! We negotiated a group rate at KeyLime Cove Waterpark &amp;
            Resort. See our <a class="w" routerLink="/venue-lodging">Venue &amp; Lodging page</a> for details. -->
        </p>
        <p>If you haven't already, please help us update our contact list below!</p><p>Love,<br>Morgan and Tom</p>
        <p class="text-center"><a class="w" href="https://www.facebook.com/MacDonaldManion-Wedding-175166789635262">Like our Facebook Page for updates!</a> | <a class="w" href="{{event}}">Add to Calendar</a></p>
        <hr>
    </div>
    <tam-contact-information></tam-contact-information>
</div>