<div class="container">
  <div class="header">
    <h1>Our Wedding Day!</h1>
  </div>

  <br>

  <div class="card">
    <h2 class="script">September 2nd, 2017</h2>
    <div class="splitter"></div>
    <ul>
      <li *ngFor="let e of events">{{e.time}} {{e.description}}</li>
    </ul>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card sub-title">
        <h3 class="script text-center">Ceremony &amp; Reception</h3>
        <div class="splitter"></div>
        <h2 class="block font-size text-center">MaryBud Farm</h2>

        <p class="card-text text-center block description">
          <strong>Antioch, IL</strong>
        </p>

        <img class="img-fluid" src="{{marybud}}">

        <p class="card-text description pad">
          MaryBud Farms was established in 2015 by Morgan’s parents, Mark and Maril MacDonald, to preserve the legacy of a place for
          family and friends to gather. It's named in memory of Morgan’s grandparents, "Bud" and Mary Gagen.

          <br><br> The property is about creating a community around what’s possible and where we’re going, rooted in the
          core values of key people in our lives. This makes "the farm" a natural destination for us to start our lives together,
          surrounded by the community that has played an integral part of who we are.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <h3 class="script text-center">Attire</h3>
        <div class="splitter"></div>
        <p>{{attire}}</p>
      </div>

    </div>
  </div>

  <br>

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 ">
      <div class="card sub-title">
        <h3 class="script text-center">Limited Parking on Edwards Rd.</h3>
        <p>If you need to park at MaryBud, please view the map below for allowed parking in <span style="color: red;">red</span>.
          To view the location on Google Maps, <a [href]="googleMapsLink">click here.</a></p>
        <img class="img-fluid" [src]="parkingMap" />
      </div>
    </div>

  </div>-->

</div>