<div class="container">
  <div class="header">
    <h1>Our Wedding Day!</h1>
  </div>

  <br>

  <div class="card">
    <h2 class="script">September 2nd, 2017</h2>
    <div class="splitter"></div>
    <ul>
      <li *ngFor="let e of events">{{e.time}} {{e.description}}</li>
    </ul>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card sub-title">
        <h3 class="script text-center">Ceremony &amp; Reception</h3>
        <div class="splitter"></div>
        <h2 class="block font-size text-center">MaryBud Farm</h2>

        <p class="card-text text-center block description">
          <strong>Antioch, IL</strong>
        </p>

        <img class="img-fluid" src="{{marybud}}">

        <p class="card-text description pad">
          MaryBud Farms was established in 2015 by Morgan’s parents, Mark and Maril MacDonald, to preserve the legacy of a place for
          family and friends to gather. It's named in memory of Morgan’s grandparents, "Bud" and Mary Gagen.

          <br><br> The property is about creating a community around what’s possible and where we’re going, rooted in the
          core values of key people in our lives. This makes "the farm" a natural destination for us to start our lives together,
          surrounded by the community that has played an integral part of who we are.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <h3 class="script text-center">Attire</h3>
        <div class="splitter"></div>
        <p>Suggested attire is relaxed formal (jacket optional) with lawn appropriate shoes as the ceremony and reception will
          be outdoors.</p>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid" [src]="sun" />
          </div>
          <div class="col-sm-8">
            <p><span class="attire-highlight">We'll be outside!</span> Wear shoes you can dance in the grass in such as, flats,
              sandals, or cowboy boots.</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid" [src]="mosquito" />
          </div>
          <div class="col-sm-8">
            <p><span class="attire-highlight">Be smitten, not bitten!</span> We’ll be handing out bug spray, so wear clothes that are bug spray friendly, and avoid wearing scents
        that would attract bugs.</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid" [src]="check" />
          </div>
          <div class="col-sm-8">
            <p><span class="attire-highlight">For inspiration…</span> ladies’ suggested attire is summer cocktail dresses, maxi dresses, nice blouse and dress pants. Men’s suggested attire is dress shirt and dress pants. Tie and jacket are optional.</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-4">
            <img class="img-fluid" [src]="x" />
          </div>
          <div class="col-sm-8">
            <p><span class="attire-highlight">Please no</span> jeans, shorts, sneakers, flip flops, or heels.</p>
          </div>
        </div>
 



      </div>

    </div>
  </div>

  <br>

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 ">
      <div class="card sub-title">
        <h3 class="script text-center">Limited Parking on Edwards Rd.</h3>
        <p>If you need to park at MaryBud, please view the map below for allowed parking in <span style="color: red;">red</span>.
          To view the location on Google Maps, <a [href]="googleMapsLink">click here.</a></p>
        <img class="img-fluid" [src]="parkingMap" />
      </div>
    </div>

  </div>-->

</div>