<div id="rsvp" class="container">
  <div class="header">
    <h1>RSVP</h1>
  </div>
  <br>
  <div id="rsvp-body">
    <p *ngIf="!rsvp">Please enter your guest code below.</p>
    <div *ngIf="!rsvp" class="form-group">
      <label for="guest-code">Guest Code</label>
      <div class="input-group">
        <input [disabled]="isCodeDisabled" maxlength="5" type="text" [(ngModel)]="guestCode" class="form-control" id="guest-code"
          aria-describedby="guest-code-help" placeholder="Enter code here.">
        <span class="input-group-btn">
        <button [disabled]="guestCode.length === 5 ? '' : 'disabled'" (click)="checkCode()" class="btn btn-secondary" type="button">{{searchText}}</button>
      </span>
      </div>
      <small id="guest-code-help" class="form-text">You can find this on your invitation.</small>
      <p id="no-results">{{noResultsText}}</p>
    </div>
    <p *ngIf="!rsvp">Lost your code? Please email Morgan and Tom at tom.morgan.manion@gmail.com to get your code.</p>
    <div *ngIf="rsvp">
      <p>Your invitation was found! Please fill out the following and press save.</p>
      <p>Help us ensure we have the most up-to-date contact information for everyone as we keep our list up-to-date!</p>
      <div class="form-group" *ngFor="let guest of rsvp.rsvpGuests; let i = index">
        <div class="row">
          <div class="col-md-5">
            <input placeholder="Name" [(ngModel)]="guest.name" class="form-control" />
            <small *ngIf="isEmptyOrGuest(guest.name)" class="form-text">Please enter the guest's name above.</small>
            <input placeholder="Email Address" [(ngModel)]="guest.email" class="form-control" />
            <input placeholder="Phone Number" [(ngModel)]="guest.phoneNumber" class="form-control" />
          </div>
          <div class="col-md-7 full-width btn-group">
            <button (click)="guest.isGoing = true" [class.selected]="guest.isGoing" class="btn rsvp-btn">Can't<br>Wait!</button>
            <button (click)="guest.isGoing = false" [class.selected]="guest.isGoing === false" class="btn rsvp-btn">Regretfully<br>Decline</button>
            <button (click)="guest.isGoing = undefined" [class.selected]="guest.isGoing === undefined" class="btn rsvp-btn">No<br>Response</button>
          </div>
        </div>
        <hr>
      </div>

      <!-- Hotel -->
      <article class="row">
        <div class="col-md-6">
          <p>I / We will be staying at the hotel and taking the provided shuttle.</p>
        </div>
        <div class="col-md-6 full-width btn-group">
          <button (click)="rsvp.isAtHotel = true" [class.selected]="rsvp.isAtHotel" class="btn rsvp-btn">Yes</button>
          <button (click)="rsvp.isAtHotel = false" [class.selected]="rsvp.isAtHotel === false" class="btn rsvp-btn">No</button>
          <button (click)="rsvp.isAtHotel = undefined" [class.selected]="rsvp.isAtHotel === undefined" class="btn rsvp-btn">No<br>Response</button>
        </div>
      </article>

      <!-- Parking -->
      <article class="row">
        <div class="col-md-6">
          <p>I / We will be driving to MaryBud Farm. (Note: Limited parking will be along Edwards Rd.)</p>
        </div>
        <div class="col-md-6 full-width btn-group">
          <button (click)="rsvp.isParking = true" [class.selected]="rsvp.isParking" class="btn rsvp-btn">Yes</button>
          <button (click)="rsvp.isParking = false" [class.selected]="rsvp.isParking === false" class="btn rsvp-btn">No</button>
          <button (click)="rsvp.isParking = undefined" [class.selected]="rsvp.isParking === undefined" class="btn rsvp-btn">No<br>Response</button>
        </div>
      </article>

      <!-- Cars -->
      <article class="row">
        <div class="col-md-6">
          <p>How many cars are you bringing?</p>
        </div>
        <div class="col-md-6 full-width">
          <input type="number" placeholder="# of Cars" [(ngModel)]="rsvp.numberOfCarsParking" class="form-control" />
        </div>
      </article>

      <hr>

      <!-- Pool Party
      <article class="row">
        <div class="col-md-6">
          <p>Will you join us for a Post-Wedding BBQ/Pool Party @ 3p Sunday at the MacDonald's house in Lake Forest?</p>
        </div>
        <div class="col-md-6 full-width">
          <p># Attending: <input type="number" [(ngModel)]="rsvp.numberAttendingPoolParty" class="form-control" id="num-attending-pool-party" placeholder="0"></p>
        </div>
      </article>

      <hr> -->

      <!-- Notes -->
      <div class="form-group">
        <label for="notes">Leave a note for the Bride &amp; Groom!</label>
        <textarea [(ngModel)]="rsvp.notes" id="notes" class="form-control" rows="3"></textarea>
      </div>

      <button (click)="update()" class="btn btn-lg btn-primary btn-block">Save</button>
      <br>
      <div class="status-box" [style.background-color]="statusColor">{{status}}</div>
    </div>
  </div>

</div>